<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <p>This project is used for experimenting actions CircleCI.</p>
    <p>This job will perform continuous integration jobs:</p>
    <ul>
      <li>Eslint</li>
      <li>Jest unit test</li>
    </ul>

    <h2>Contact</h2>
    <ul>
      <li>Email: vcttai@gmail.com or 7phut.laptrinh@gmail.com</li>
      <li>Facebook page: https://www.facebook.com/nhungdongcodevui </li>
      <li>Website: https://nhungdongcodevui.com/ </li>
    </ul>
  </body>
</html>
